* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: Kufam;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Kufam-Bold"), url(../fonts/Kufam-Bold.woff2) format("woff2")
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto-Medium"), url(../fonts/Roboto-Medium.woff2) format("woff2")
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Rubik-Regular"), url(../fonts/Rubik-Regular.woff2) format("woff2")
}

:root {
  --font-main: "Rubik", sans-serif;
  --font-second: "Kufam", sans-serif;
  --font-triple: "Roboto", sans-serif;
  --container-width: 1320px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #222121;
  --dark: #302E2B;
  --white: #ffffff;
  --orange: #EC6801;
  --orange2: #EC8E01;
  --hover: #D6630A;
  --active: #F28C3C
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 160px
}

@media (max-width:1440px) {
  main:not(:last-child) {
    margin-bottom: 130px
  }
}

@media (max-width:1220px) {
  main:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:991px) {
  main:not(:last-child) {
    margin-bottom: 80px
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.tt-1 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 52px;
  line-height: 120%
}

@media (max-width:1220px) {
  .tt-1 {
    font-size: 42px
  }
}

@media (max-width:991px) {
  .tt-1 {
    font-size: 34px
  }
}

@media (max-width:600px) {
  .tt-1 {
    font-size: 26px
  }
}

.tt-2 {
  position: relative;
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto
}

@media (max-width:1220px) {
  .tt-2 {
    font-size: 32px
  }
}

@media (max-width:991px) {
  .tt-2 {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .tt-2 {
    font-size: 22px
  }
}

.tt-2 span {
  position: relative;
  z-index: 2
}

.tt-2::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 8px;
  z-index: 1;
  background-color: var(--orange)
}

@media (max-width:1220px) {
  .tt-2::before {
    height: 6px;
    bottom: 8px
  }
}

@media (max-width:600px) {
  .tt-2::before {
    height: 4px;
    bottom: 6px
  }
}

.tt-3 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 24px;
  line-height: 140%
}

@media (max-width:991px) {
  .tt-3 {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .tt-3 {
    font-size: 20px
  }
}

.tt-4 {
  position: relative;
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 24px;
  line-height: 140%
}

.tt-4 span {
  position: relative;
  z-index: 2
}

.tt-4::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 8px;
  z-index: 1;
  background-color: rgba(236, 104, 1, .6)
}

@media (max-width:991px) {
  .tt-4 {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .tt-4 {
    font-size: 20px
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%
}

@media (max-width:600px) {
  .tx-1 {
    font-size: 14px
  }
}

.tx-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%
}

@media (max-width:600px) {
  .tx-2 {
    font-size: 18px
  }
}

.but-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 123px;
  min-height: 52px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--orange);
  border-radius: 29px;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--white)
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 25px 0
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--orange);
    z-index: 100;
    padding: 100px 30px 30px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 80px 30px 30px 30px
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px 47px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px
  }
}

.nav__link {
  color: var(--white);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

.nav__link_2 {
  color: var(--dark)
}

.nav__link.active {
  color: var(--orange)
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--orange);
  border-radius: 8px
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.hero:not(:last-child) {
  margin-bottom: 160px
}

@media (max-width:1440px) {
  .hero:not(:last-child) {
    margin-bottom: 130px
  }
}

@media (max-width:1220px) {
  .hero:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:991px) {
  .hero:not(:last-child) {
    margin-bottom: 80px
  }
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 688px;
  padding: 100px 0
}

@media (max-width:991px) {
  .hero__content {
    min-height: 550px
  }
}

@media (max-width:600px) {
  .hero__content {
    min-height: 450px
  }
}

.hero__descr {
  max-width: 528px
}

.hero__title {
  color: var(--orange)
}

.hero__title span {
  display: block;
  color: var(--dark);
  margin-bottom: 16px
}

.hero__title:not(:last-child) {
  margin-bottom: 8px
}

.hero__text {
  color: var(--dark)
}

.hero__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .hero__text:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .hero__text:not(:last-child) {
    margin-bottom: 16px
  }
}

.hero__link {
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .hero__link:hover {
    background-color: var(--hover)
  }
}

.hero__link:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .hero {
  background-image: url(../img/hero.webp)
}

.no-webp .hero {
  background-image: url(../img/hero.jpg)
}

.news:not(:last-child) {
  margin-bottom: 160px
}

@media (max-width:1440px) {
  .news:not(:last-child) {
    margin-bottom: 130px
  }
}

@media (max-width:1220px) {
  .news:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:991px) {
  .news:not(:last-child) {
    margin-bottom: 80px
  }
}

.news_2 {
  padding: 250px 0 0 0
}

@media (max-width:991px) {
  .news_2 {
    padding: 160px 0 0 0
  }
}

@media (max-width:600px) {
  .news_2 {
    padding: 120px 0 0 0
  }
}

.news__top {
  text-align: center
}

.news__top:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .news__top:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .news__top:not(:last-child) {
    margin-bottom: 16px
  }
}

.news__title {
  color: var(--white)
}

.news__text {
  color: var(--white);
  opacity: .4
}

.news__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr;
  grid-template: auto/repeat(4, 1fr);
  gap: 32px
}

@media (max-width:1440px) {
  .news__list {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[3];
    grid-template: auto/repeat(3, 1fr)
  }
}

@media (max-width:991px) {
  .news__list {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template: auto/repeat(2, 1fr);
    gap: 24px
  }
}

@media (max-width:600px) {
  .news__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 16px
  }
}

.news__list:not(:last-child) {
  margin-bottom: 32px
}

.news__data {
  color: var(--white);
  opacity: .4
}

.news__image {
  position: relative;
  height: 176px
}

.news__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.news__image:not(:last-child) {
  margin-bottom: 16px
}

.news__name {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1;
  min-width: 128px;
  background-color: #222121;
  color: var(--white);
  padding: 3px 5px 3px 10px;
  border-radius: 30px 0 0 30px;
  text-align: center
}

.news__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--white);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

.news__link span {
  position: relative;
  z-index: 2
}

.news__link::before {
  width: 80%
}

@media (any-hover:hover) {
  .news__link:hover {
    color: var(--hover)
  }
}

.news__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.news__link:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:600px) {
  .news__link:not(:last-child) {
    margin-bottom: 16px
  }
}

.news__see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  color: var(--orange2);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .news__see:hover {
    color: var(--hover)
  }

  .news__see:hover svg {
    fill: var(--hover)
  }
}

.news__see:active {
  color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.news__see:active svg {
  fill: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.news__see svg {
  display: block;
  width: 15px;
  height: 12px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  fill: var(--orange2);
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out
}

.news__button {
  margin: 0 auto;
  min-width: 188px;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .news__button:hover {
    background-color: var(--hover)
  }
}

.news__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.new {
  padding: 250px 0 0 0
}

@media (max-width:991px) {
  .new {
    padding: 160px 0 0 0
  }
}

@media (max-width:600px) {
  .new {
    padding: 120px 0 0 0
  }
}

.new__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 32px
}

@media (max-width:991px) {
  .new__top {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

@media (max-width:600px) {
  .new__top {
    gap: 16px
  }
}

.new__top:not(:last-child) {
  margin-bottom: 24px
}

@media (max-width:600px) {
  .new__top:not(:last-child) {
    margin-bottom: 16px
  }
}

.new__image {
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 469px;
  flex: 0 1 469px;
  height: 272px
}

@media (max-width:991px) {
  .new__image {
    max-width: 469px;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.new__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.new__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 752px;
  flex: 0 1 752px
}

@media (max-width:991px) {
  .new__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.new__title {
  color: var(--white);
  width: 100%
}

.new__title span {
  position: relative;
  z-index: 2
}

.new__title::before {
  width: 80%;
  background-color: rgba(236, 104, 1, .6)
}

.new__title:not(:last-child) {
  margin-bottom: 16px
}

.new__text {
  color: var(--white);
  opacity: .5
}

.new__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .new__bottom {
    gap: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

@media (max-width:600px) {
  .new__bottom {
    gap: 16px
  }
}

.slot:not(:last-child) {
  margin-bottom: 160px
}

@media (max-width:1440px) {
  .slot:not(:last-child) {
    margin-bottom: 130px
  }
}

@media (max-width:1220px) {
  .slot:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:991px) {
  .slot:not(:last-child) {
    margin-bottom: 80px
  }
}

.slot__top {
  text-align: center
}

.slot__top:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .slot__top:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .slot__top:not(:last-child) {
    margin-bottom: 16px
  }
}

.slot__title {
  color: var(--white)
}

.slot__text {
  color: var(--white);
  opacity: .4
}

.slot__text_2 {
  opacity: 1
}

.slot__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .slot__content {
    gap: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

@media (max-width:600px) {
  .slot__content {
    gap: 16px
  }
}

.slot__item:not(:last-child) {
  margin-bottom: 16px
}

.slot__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  color: var(--white)
}

.slot__subtitle::before {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 1 126px;
  flex: 0 1 126px;
  height: 2px;
  background-color: var(--orange2)
}

@media (max-width:991px) {
  .slot__subtitle::before {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 60px;
    flex: 0 1 60px
  }
}

@media (max-width:600px) {
  .slot__subtitle::before {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30px;
    flex: 0 1 30px
  }
}

.hikaye:not(:last-child) {
  margin-bottom: 160px
}

@media (max-width:1440px) {
  .hikaye:not(:last-child) {
    margin-bottom: 130px
  }
}

@media (max-width:1220px) {
  .hikaye:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:991px) {
  .hikaye:not(:last-child) {
    margin-bottom: 80px
  }
}

.hikaye__top {
  text-align: center
}

.hikaye__top:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .hikaye__top:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .hikaye__top:not(:last-child) {
    margin-bottom: 16px
  }
}

.hikaye__title {
  color: var(--white)
}

.hikaye__text {
  color: var(--white)
}

.hikaye__text:not(:last-child) {
  margin-bottom: 16px
}

.hikaye__text_2 {
  opacity: .4
}

.hikaye__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .hikaye__content {
    gap: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

@media (max-width:600px) {
  .hikaye__content {
    gap: 16px
  }
}

.hikaye__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .hikaye__images {
    gap: 24px
  }
}

@media (max-width:600px) {
  .hikaye__images {
    gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.hikaye__image {
  border-radius: 5px;
  overflow: hidden;
  height: 464px
}

@media (max-width:991px) {
  .hikaye__image {
    height: 380px
  }
}

@media (max-width:600px) {
  .hikaye__image {
    height: 340px
  }
}

.hikaye__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.qeq:not(:last-child) {
  margin-bottom: 160px
}

@media (max-width:1440px) {
  .qeq:not(:last-child) {
    margin-bottom: 130px
  }
}

@media (max-width:1220px) {
  .qeq:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:991px) {
  .qeq:not(:last-child) {
    margin-bottom: 80px
  }
}

.qeq__top {
  text-align: center
}

.qeq__top:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .qeq__top:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .qeq__top:not(:last-child) {
    margin-bottom: 16px
  }
}

.qeq__title {
  color: var(--white)
}

.qeq__text {
  color: var(--white);
  opacity: .4
}

.qeq__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  color: var(--white)
}

.qeq__subtitle::before {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 1 80px;
  flex: 0 1 80px;
  height: 2px;
  background-color: var(--orange2)
}

@media (max-width:991px) {
  .qeq__subtitle::before {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30px;
    flex: 0 1 30px
  }
}

@media (max-width:600px) {
  .qeq__subtitle::before {
    display: none
  }
}

.qeq__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px
}

@media (max-width:991px) {
  .qeq__item {
    gap: 24px
  }
}

@media (max-width:768px) {
  .qeq__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

@media (max-width:600px) {
  .qeq__item {
    gap: 16px
  }
}

.qeq__item:not(:last-child) {
  margin-bottom: 16px
}

.qeq__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 976px;
  flex: 0 1 976px
}

@media (max-width:768px) {
  .qeq__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.qeq__image {
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 272px;
  flex: 0 0 272px;
  height: 184px
}

@media (max-width:768px) {
  .qeq__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    max-width: 272px;
    margin: 0 auto
  }
}

.qeq__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.footer {
  padding-bottom: 80px
}

@media (max-width:991px) {
  .footer {
    padding-bottom: 60px
  }
}

@media (max-width:600px) {
  .footer {
    padding-bottom: 40px
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px 44px
}

@media (max-width:991px) {
  .footer__list {
    gap: 16px 24px
  }
}

@media (max-width:600px) {
  .footer__list {
    gap: 16px
  }
}

.footer__link {
  color: var(--white);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: var(--hover)
  }
}

.footer__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  padding: 140px 0 0 0
}

@media (max-width:991px) {
  .terms {
    padding: 120px 0 0 0
  }
}

@media (max-width:600px) {
  .terms {
    padding: 100px 0 0 0
  }
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.no-found {
  padding: 250px 0 50px 0
}

@media (max-width:991px) {
  .no-found {
    padding: 160px 0 50px 0
  }
}

@media (max-width:600px) {
  .no-found {
    padding: 120px 0 50px 0
  }
}

.no-found__title {
  font-size: 60px;
  line-height: 1.3;
  color: var(--white);
  text-align: center;
  font-weight: 700
}

@media (max-width:991px) {
  .no-found__title {
    font-size: 40px
  }
}

@media (max-width:600px) {
  .no-found__title {
    font-size: 32px
  }
}

.no-found__title:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__text {
  font-size: 24px;
  line-height: 1.3;
  color: var(--white);
  text-align: center;
  font-weight: 400
}

@media (max-width:991px) {
  .no-found__text {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .no-found__text {
    font-size: 20px
  }
}

.no-found__text:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__link {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 400;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (max-width:991px) {
  .no-found__link {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .no-found__link {
    font-size: 16px
  }
}

@media (any-hover:hover) {
  .no-found__link:hover {
    color: var(--hover)
  }
}

.no-found__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.contacts {
  padding: 250px 0 0 0
}

@media (max-width:991px) {
  .contacts {
    padding: 160px 0 0 0
  }
}

@media (max-width:600px) {
  .contacts {
    padding: 120px 0 0 0
  }
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 32px
}

@media (max-width:991px) {
  .contacts__container {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

@media (max-width:600px) {
  .contacts__container {
    gap: 16px
  }
}

.contacts__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 632px;
  flex: 0 1 632px;
  height: 344px
}

@media (max-width:991px) {
  .contacts__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    max-width: 632px
  }
}

.contacts__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.contacts__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 572px;
  flex: 0 1 572px
}

@media (max-width:991px) {
  .contacts__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.contacts__title {
  color: var(--white)
}

.contacts__title:not(:last-child) {
  margin-bottom: 8px
}

.contacts__title::before {
  display: none
}

.contacts__text {
  color: var(--white);
  opacity: .5;
  text-align: center
}

.contacts__text:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:600px) {
  .contacts__text:not(:last-child) {
    margin-bottom: 16px
  }
}

.form {
  display: block;
  width: 100%
}

.form__input {
  display: block;
  width: 100%;
  max-width: 416px;
  height: 56px;
  padding: 0 15px;
  background-color: #0e0e0e;
  border-radius: 29px;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  color: var(--white);
  margin-left: auto
}

.form__input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out
}

.form__input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out
}

.form__input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out
}

.form__input::-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out
}

.form__input::placeholder {
  opacity: 1;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out
}

.form__input:not(:last-child) {
  margin-bottom: 16px
}

@media (any-hover:hover) {
  .form__input:hover {
    background-color: var(--hover)
  }

  .form__input:hover::-webkit-input-placeholder {
    opacity: 1
  }

  .form__input:hover::-moz-placeholder {
    opacity: 1
  }

  .form__input:hover:-ms-input-placeholder {
    opacity: 1
  }

  .form__input:hover::-ms-input-placeholder {
    opacity: 1
  }

  .form__input:hover::placeholder {
    opacity: 1
  }
}

.form__input:focus-visible {
  background-color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.form__input:focus-visible::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition-duration: .1s;
  transition-duration: .1s
}

.form__input:focus-visible::-moz-placeholder {
  opacity: 1;
  transition-duration: .1s
}

.form__input:focus-visible:-ms-input-placeholder {
  opacity: 1;
  transition-duration: .1s
}

.form__input:focus-visible::-ms-input-placeholder {
  opacity: 1;
  transition-duration: .1s
}

.form__input:focus-visible::placeholder {
  opacity: 1;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.form__button {
  min-width: 108px;
  margin-left: auto;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .form__button:hover {
    background-color: var(--hover)
  }
}

.form__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}