@font-face {
  font-family: 'Petrona';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Petrona-Regular'),
    url("../../fonts/Petrona-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'RozhaOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('RozhaOne-Regular'),
    url("../../fonts/RozhaOne-Regular.woff2") format("woff2")
}