:root {
  // Шрифты
  --font-main: "Mako", sans-serif; // главный шрифт на странице
  --second-main: "Anybody", sans-serif; // главный шрифт на странице

  // Контейнер
  --container-width: 1120px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #F3F3F3; // бекграунд страницы
  --background-menu: #F3F3F3;
  --black: #000000;
  --blue: #2849B7;

  --hover: rgba(40, 73, 183, 0.04); // цвет при ховере
  --active: rgba(40, 73, 183, 0.16); // цвет при активе  
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 177px;

    @media (max-width: 991px) {
      margin-bottom: 140px;
    }

    @media (max-width: 600px) {
      margin-bottom: 100px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-1 {
  font-size: 52px;
  font-family: var(--second-main);
  font-weight: 700;
  line-height: 120%;

  @media (max-width: 1220px) {
    font-size: 42px;
  }

  @media (max-width: 991px) {
    font-size: 34px;
  }

  @media (max-width: 600px) {
    font-size: 28px;
  }
}

.tt-2 {
  font-size: 40px;
  font-family: var(--second-main);
  font-weight: 700;
  line-height: 120%;
  min-width: 352px;
  width: fit-content;
  color: var(--black);
  padding-right: 16px;
  border-bottom: 1px solid var(--black);

  @media (max-width: 1220px) {
    font-size: 36px;
  }

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
    min-width: auto;
  }
}

.tt-3 {
  font-size: 20px;
  font-family: var(--second-main);
  font-weight: 700;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.tx-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.tx-2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: var(--black);
  padding: 0 10px;
  min-width: 102px;
  min-height: 42px;
  width: fit-content;
  border-bottom: 1px solid var(--blue);

  & img {
    display: block;
    width: 19px;
    height: 8px;
    flex-shrink: 0;
    object-fit: contain;
    object-position: center;
  }
}