:root {
  // Шрифты
  --font-main: "RadioCanada", sans-serif; // главный шрифт на странице
  --font-second: "SplineSans", sans-serif; // второй шрифт на странице

  // Контейнер
  --container-width: 1315px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #111111; // бекграунд страницы
  --black: #000000;
  --white: #ffffff;
  --yellow: #F9ED9B;
  --yellow2: #F9D39B;

  --hover: #f5e370; // цвет при ховере
  --active: #caba4d; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 65px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-1 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;

  @media (max-width: 1440px) {
    font-size: 46px;
  }

  @media (max-width: 1220px) {
    font-size: 38px;
  }

  @media (max-width: 991px) {
    font-size: 32px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.tt-2 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;

  @media (max-width: 1440px) {
    font-size: 36px;
  }

  @media (max-width: 1220px) {
    font-size: 28px;
  }

  @media (max-width: 991px) {
    font-size: 24px;
  }

  @media (max-width: 600px) {
    font-size: 22px;
  }
}

.tt-3 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
 
  @media (max-width: 1220px) {
    font-size: 28px;
  }

  @media (max-width: 991px) {
    font-size: 24px;
  }

  @media (max-width: 600px) {
    font-size: 22px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.tx-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }
}