@font-face {
  font-family: 'Mallanna';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Mallanna-Regular'),
    url("../../fonts/Mallanna-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins-Regular'),
    url("../../fonts/Poppins-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Sansita';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Sansita-ExtraBoldItalic'),
    url("../../fonts/Sansita-ExtraBoldItalic.woff2") format("woff2")
}