@font-face {
  font-family: 'PricedownRus';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PricedownRus-Regular'),
    url("../../fonts/PricedownRus-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Rajdhani-Medium'),
    url("../../fonts/Rajdhani-Medium.woff2") format("woff2")
} 