@font-face {
  font-family: 'Kokoro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kokoro-Regular'),
    url("../../fonts/Kokoro-Regular.woff2") format("woff2")
}
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Spartan-Bold'),
    url("../../fonts/Spartan-Bold.woff2") format("woff2")
}