:root {
  // Шрифты
  --font-main: Arial; // главный шрифт на странице

  // Контейнер
  --container-width: 1105px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #111010; // бекграунд страницы
  --orange: #D24C1B;
  --white: #ffffff;
  --black: #000000;

  --hover: #E34E1E; // цвет при ховере
  --active: #F26A38; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 120px;

    @media (max-width: 1440px) {
      margin-bottom: 100px;
    }

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-bottom: 60px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-1 {
  font-weight: 900;
  font-size: 45px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 38px;
  }

  @media (max-width: 991px) {
    font-size: 32px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.tt-2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 34px;
  }

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 600px) {
    font-size: 22px;
  }
}

.tt-3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 126.49%;

  @media (max-width: 991px) {}

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 112.5%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  min-height: 53px;
  width: fit-content;
  background-color: var(--orange);
  border-radius: 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  padding: 10px 15px;
}