@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Manrope-Regular'),
    url("../../fonts/Manrope-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'FredokaOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('FredokaOne-Regular'),
    url("../../fonts/FredokaOne-Regular.woff2") format("woff2")
}