@font-face {
  font-family: 'Shanti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Shanti-Regular'),
    url("../../fonts/Shanti-Regular.woff2") format("woff2")
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Urbanist-Black'),
    url("../../fonts/Urbanist-Black.woff2") format("woff2")
} 