@font-face {
  font-family: 'ChakraPetch';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('ChakraPetch-Bold'),
    url("../../fonts/ChakraPetch-Bold.woff2") format("woff2")
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato-Bold'),
    url("../../fonts/Lato-Bold.woff2") format("woff2")
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato-Regular'),
    url("../../fonts/Lato-Regular.woff2") format("woff2")
}