:root {
  // Шрифты
  --font-main: "Saira", sans-serif; // главный шрифт на странице
  --font-second: "RussoOne", sans-serif; // второй шрифт на странице


  // Контейнер
  --container-width: 1215px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #181817; // бекграунд страницы
  --black: #000000;
  --white: #ffffff;
  --green: #27790A;

  --hover: #206209; // цвет при ховере
  --active: #184E05; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 140px;

    @media (max-width: 1440px) {
      margin-bottom: 120px;
    }

    @media (max-width: 1220px) {
      margin-bottom: 100px;
    }

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-bottom: 60px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-1 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 52px;
  line-height: 120%;

  @media (max-width: 1440px) {
    font-size: 46px;
  }

  @media (max-width: 1220px) {
    font-size: 38px;
  }

  @media (max-width: 991px) {
    font-size: 32px;
  }

  @media (max-width: 600px) {
    font-size: 26px;
  }
}

.tt-2 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;

  @media (max-width: 1440px) {
    font-size: 36px;
  }

  @media (max-width: 1220px) {
    font-size: 30px;
  }

  @media (max-width: 991px) {
    font-size: 26px;
  }

  @media (max-width: 600px) {
    font-size: 22px;
  }
}

.tt-3 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 112.5%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.tx-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  min-width: 133px;
  min-height: 54px;
  width: fit-content;
  background-color: var(--green);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

.but-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  min-width: 211px;
  min-height: 54px;
  width: fit-content;
  border: 2px solid var(--green);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}