@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Oswald-Bold'),
    url("../../fonts/Oswald-Bold.woff2") format("woff2")
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto-Regular'),
    url("../../fonts/Roboto-Regular.woff2") format("woff2")
}