:root {
  // Fonts
  --font-main: "Karla", sans-serif;
  --second-main: "Tomorrow", sans-serif;

  // Con
  --container-width: 1215px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));

  // Colors
  --background-page: #1B1C2D;
  --white: #ffffff;
  --blue: #33ACE0;
  --background: #1B1C2D;

  --hover: #2693C2;
  --active: #277191;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 162px;

    @media (max-width: 991px) {
      margin-bottom: 120px;
    }

    @media (max-width: 600px) {
      margin-bottom: 100px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-1 {
  font-family: var(--second-main);
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;

  @media (max-width: 1220px) {
    font-size: 42px;
  }

  @media (max-width: 991px) {
    font-size: 34px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.tt-2 {
  font-family: var(--second-main);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--blue);

  @media (max-width: 1220px) {
    font-size: 32px;
  }

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 600px) {
    font-size: 22px;
  }
}

.tt-3 {
  font-family: var(--second-main);
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;

  @media (max-width: 991px) {
    font-size: 24px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.tt-4 {
  font-family: var(--second-main);
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;
  -webkit-text-fill-color: rgba(51, 172, 224, 0.2);
  -webkit-text-stroke: 1px var(--blue);

  @media (max-width: 1220px) {
    font-size: 42px;
  }

  @media (max-width: 991px) {
    font-size: 34px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.tt-5 {
  font-family: var(--second-main);
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.tx-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 15px;
  width: fit-content;
  min-width: 169px;
  min-height: 54px;
  background-color: var(--blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
}

.but-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 15px;
  width: fit-content;
  min-width: 169px;
  min-height: 54px;
  border: 2px solid var(--blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
}

.but-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--blue);
  padding: 10px 15px;
  width: fit-content;
  min-width: 91px;
  min-height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--white);
}