@font-face {
  font-family: 'Shanti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Shanti-Regular'),
    url("../../fonts/Shanti-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'SofiaSans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('SofiaSans-Black'),
    url("../../fonts/SofiaSans-Black.woff2") format("woff2")
}

@font-face {
  font-family: 'SofiaSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('SofiaSans-Medium'),
    url("../../fonts/SofiaSans-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Syncopate-Bold'),
    url("../../fonts/Syncopate-Bold.woff2") format("woff2")
}