* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: Shanti;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Shanti-Regular"), url(../fonts/Shanti-Regular.woff2) format("woff2")
}

@font-face {
  font-family: SofiaSans;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("SofiaSans-Black"), url(../fonts/SofiaSans-Black.woff2) format("woff2")
}

@font-face {
  font-family: SofiaSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("SofiaSans-Medium"), url(../fonts/SofiaSans-Medium.woff2) format("woff2")
}

@font-face {
  font-family: Syncopate;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Syncopate-Bold"), url(../fonts/Syncopate-Bold.woff2) format("woff2")
}

:root {
  --font-main: "SofiaSans", sans-serif;
  --font-second: "Shanti", sans-serif;
  --font-triple: "Syncopate", sans-serif;
  --container-width: 1320px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #04152C;
  --white: #ffffff;
  --black: #000000;
  --blue: #00235F;
  --hover: #2D4FC2;
  --active: #B5D4FF
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 180px
}

@media (max-width:1220px) {
  main:not(:last-child) {
    margin-bottom: 140px
  }
}

@media (max-width:991px) {
  main:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:600px) {
  main:not(:last-child) {
    margin-bottom: 60px
  }
}

.main-2:not(:last-child) {
  margin-bottom: 0
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.tt-1 {
  font-family: var(--font-triple);
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;
  text-transform: uppercase
}

@media (max-width:1220px) {
  .tt-1 {
    font-size: 42px
  }
}

@media (max-width:991px) {
  .tt-1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .tt-1 {
    font-size: 26px
  }
}

.tt-2 {
  font-family: var(--font-triple);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 32px;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  background-color: var(--blue)
}

@media (max-width:1220px) {
  .tt-2 {
    font-size: 36px;
    padding: 20px
  }
}

@media (max-width:991px) {
  .tt-2 {
    font-size: 28px
  }
}

@media (max-width:600px) {
  .tt-2 {
    font-size: 24px
  }
}

.tt-3 {
  font-weight: 900;
  font-size: 20px;
  line-height: 140%
}

@media (max-width:600px) {
  .tt-3 {
    font-size: 18px
  }
}

.tt-4 {
  font-family: var(--font-triple);
  font-weight: 700;
  font-size: 24px;
  line-height: 140%
}

@media (max-width:991px) {
  .tt-4 {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .tt-4 {
    font-size: 20px
  }
}

.tx-1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%
}

@media (max-width:600px) {
  .tx-1 {
    font-size: 14px
  }
}

.but-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 150px;
  min-height: 56px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #1e3b98;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--white)
}

.but-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 150px;
  min-height: 56px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 3px solid #1e3b98;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--white)
}

.header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #373737;
    z-index: 100;
    padding: 100px 30px 30px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 80px 30px 30px 30px
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px
  }
}

.nav__link {
  color: var(--white);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:focus-visible {
  color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--white);
  border-radius: 8px
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.hero:not(:last-child) {
  margin-bottom: 180px
}

@media (max-width:1220px) {
  .hero:not(:last-child) {
    margin-bottom: 140px
  }
}

@media (max-width:991px) {
  .hero:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:600px) {
  .hero:not(:last-child) {
    margin-bottom: 60px
  }
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 776px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0
}

.hero__descr {
  max-width: 752px
}

.hero__title {
  color: var(--white)
}

.hero__title:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .hero__title:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .hero__title:not(:last-child) {
    margin-bottom: 16px
  }
}

.hero__text {
  color: var(--white)
}

.hero__text:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .hero__text:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .hero__text:not(:last-child) {
    margin-bottom: 16px
  }
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 24px 32px
}

@media (max-width:991px) {
  .hero__list {
    gap: 16px 24px
  }
}

@media (max-width:600px) {
  .hero__list {
    gap: 16px
  }
}

.hero__link {
  -webkit-transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out
}

@media (any-hover:hover) {
  .hero__link_1:hover {
    background-color: var(--hover)
  }
}

.hero__link_1:focus-visible {
  background-color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.hero__link_1:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

@media (any-hover:hover) {
  .hero__link_2:hover {
    border-color: var(--hover)
  }
}

.hero__link_2:focus-visible {
  border-color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.hero__link_2:active {
  border-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .hero {
  background-image: url(../img/hero.webp)
}

.no-webp .hero {
  background-image: url(../img/hero.jpg)
}

.about:not(:last-child) {
  margin-bottom: 180px
}

@media (max-width:1220px) {
  .about:not(:last-child) {
    margin-bottom: 140px
  }
}

@media (max-width:991px) {
  .about:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:600px) {
  .about:not(:last-child) {
    margin-bottom: 60px
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

@media (max-width:991px) {
  .about__container {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

@media (max-width:600px) {
  .about__container {
    gap: 16px
  }
}

.about__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 640px;
  flex: 0 1 640px;
  height: 472px
}

@media (max-width:991px) {
  .about__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    max-width: 640px;
    margin: 0 auto
  }
}

.about__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.about__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 672px;
  flex: 0 1 672px
}

@media (max-width:991px) {
  .about__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.about__title {
  color: var(--white)
}

.about__title:not(:last-child) {
  margin-bottom: 24px
}

@media (max-width:600px) {
  .about__title:not(:last-child) {
    margin-bottom: 16px
  }
}

.about__text {
  padding-left: 32px;
  color: var(--white)
}

@media (max-width:991px) {
  .about__text {
    padding-left: 0
  }
}

.about__text:not(:last-child) {
  margin-bottom: 8px
}

.about__link {
  margin-top: 32px;
  margin-left: auto;
  min-width: 150px;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (max-width:991px) {
  .about__link {
    margin-top: 24px
  }
}

@media (max-width:600px) {
  .about__link {
    margin-top: 16px
  }
}

@media (any-hover:hover) {
  .about__link:hover {
    background-color: var(--hover)
  }
}

.about__link:focus-visible {
  background-color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.about__link:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.games:not(:last-child) {
  margin-bottom: 180px
}

@media (max-width:1220px) {
  .games:not(:last-child) {
    margin-bottom: 140px
  }
}

@media (max-width:991px) {
  .games:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:600px) {
  .games:not(:last-child) {
    margin-bottom: 60px
  }
}

.games__title {
  color: var(--white)
}

.games__title:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .games__title:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .games__title:not(:last-child) {
    margin-bottom: 16px
  }
}

.games__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template: auto/repeat(3, 1fr);
  gap: 24px 32px
}

@media (max-width:991px) {
  .games__list {
    gap: 16px 24px;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template: auto/repeat(2, 1fr)
  }
}

@media (max-width:600px) {
  .games__list {
    gap: 16px;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr;
    grid-template: auto/1fr
  }
}

.games__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #04152c;
  -webkit-box-shadow: 0 0 8px rgba(169, 199, 239, .51);
  box-shadow: 0 0 8px rgba(169, 199, 239, .51)
}

.games__image {
  position: relative;
  padding-bottom: 71%;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.games__image a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%
}

.games__image a picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.games__image:not(:last-child) {
  margin-bottom: 18px
}

.games__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 16px 16px 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  height: 100%
}

@media (max-width:991px) {
  .games__descr {
    padding: 0 10px 16px 10px
  }
}

.games__text {
  color: var(--white);
  opacity: .7
}

.games__text:not(:last-child) {
  margin-bottom: 3px
}

.games__top {
  height: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px
}

.games__top:not(:last-child) {
  margin-bottom: 18px
}

.games__rat {
  color: #b5d4ff
}

.games__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px
}

.games__subitem {
  font-weight: 900;
  font-size: 20px;
  line-height: 140%;
  color: var(--white);
  opacity: .6;
  border: 1px solid #fff;
  padding: 1px 13px 2px 13px
}

@media (max-width:991px) {
  .games__subitem {
    font-size: 18px;
    padding: 1px 10px 2px 10px
  }
}

@media (max-width:600px) {
  .games__subitem {
    font-size: 16px
  }
}

.games__link {
  color: var(--white);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .games__link:hover {
    color: var(--hover)
  }
}

.games__link:focus-visible {
  color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.games__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.games__link:not(:last-child) {
  margin-bottom: 13px
}

.games__see {
  color: #b5d4ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .games__see:hover {
    color: var(--hover)
  }

  .games__see:hover span {
    border-color: var(--hover)
  }
}

.games__see:focus-visible {
  color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.games__see:focus-visible span {
  border-color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.games__see:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.games__see:active span {
  border-color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.games__see span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33px;
  flex: 0 0 33px;
  height: 33px;
  border: 1px solid #b5d4ff;
  border-radius: 50%;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out
}

.games__see span img {
  display: block;
  width: 14px;
  height: 8px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.benefits:not(:last-child) {
  margin-bottom: 180px
}

@media (max-width:1220px) {
  .benefits:not(:last-child) {
    margin-bottom: 140px
  }
}

@media (max-width:991px) {
  .benefits:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:600px) {
  .benefits:not(:last-child) {
    margin-bottom: 60px
  }
}

.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

@media (max-width:991px) {
  .benefits__container {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

@media (max-width:600px) {
  .benefits__container {
    gap: 16px
  }
}

.benefits__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 304px;
  flex: 0 0 304px;
  height: 344px
}

@media (max-width:991px) {
  .benefits__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    max-width: 304px;
    margin: 0 auto
  }
}

.benefits__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.benefits__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 979px;
  flex: 0 1 979px
}

@media (max-width:991px) {
  .benefits__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.benefits__title {
  color: var(--white)
}

.benefits__title:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .benefits__title:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .benefits__title:not(:last-child) {
    margin-bottom: 16px
  }
}

.benefits__list {
  display: -ms-grid;
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px 32px;
  padding-left: 32px
}

@media (max-width:991px) {
  .benefits__list {
    padding-left: 0;
    gap: 16px 24px
  }
}

@media (max-width:600px) {
  .benefits__list {
    gap: 16px
  }
}

.benefits__item {
  padding: 24px;
  background-color: #04152c;
  -webkit-box-shadow: 0 0 6px rgba(169, 199, 239, .51);
  box-shadow: 0 0 6px rgba(169, 199, 239, .51)
}

@media (max-width:991px) {
  .benefits__item {
    padding: 18px 16px
  }
}

@media (max-width:600px) {
  .benefits__item {
    padding: 16px 10px
  }
}

.benefits__subtitle {
  text-align: center;
  color: #b5d4ff
}

.benefits__subtitle:not(:last-child) {
  margin-bottom: 8px
}

.benefits__text {
  color: var(--white);
  opacity: .5;
  text-align: center
}

.contacts {
  background-color: #3353be
}

.contacts:not(:last-child) {
  margin-bottom: 180px
}

@media (max-width:1220px) {
  .contacts:not(:last-child) {
    margin-bottom: 140px
  }
}

@media (max-width:991px) {
  .contacts:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:600px) {
  .contacts:not(:last-child) {
    margin-bottom: 60px
  }
}

.contacts_2 {
  margin-top: 160px
}

@media (max-width:991px) {
  .contacts_2 {
    margin-bottom: 140px
  }
}

@media (max-width:600px) {
  .contacts_2 {
    margin-bottom: 120px
  }
}

.contacts__container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px
}

@media (max-width:991px) {
  .contacts__container {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

@media (max-width:600px) {
  .contacts__container {
    gap: 16px
  }
}

.contacts__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 640px;
  flex: 0 1 640px;
  height: 360px
}

@media (max-width:991px) {
  .contacts__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.contacts__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.contacts__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 640px;
  flex: 0 1 640px;
  padding-right: var(--container-step);
  padding-top: 30px;
  padding-bottom: 30px
}

@media (max-width:991px) {
  .contacts__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    padding: 0 var(--container-step-tablet);
    padding-top: 30px
  }
}

@media (max-width:600px) {
  .contacts__descr {
    padding: 0 var(--container-step-mobile);
    padding-top: 30px
  }
}

.contacts__title {
  color: var(--white);
  padding: 0;
  background-color: transparent
}

.contacts__title:not(:last-child) {
  margin-bottom: 24px
}

@media (max-width:600px) {
  .contacts__title:not(:last-child) {
    margin-bottom: 16px
  }
}

.form {
  display: block;
  width: 100%
}

.form__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .form__top {
    gap: 24px
  }
}

@media (max-width:600px) {
  .form__top {
    gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.form__top:not(:last-child) {
  margin-bottom: 24px
}

@media (max-width:600px) {
  .form__top:not(:last-child) {
    margin-bottom: 16px
  }
}

.form__input {
  display: block;
  width: 100%;
  background-color: #2a4398;
  border-radius: 5px;
  color: var(--white);
  height: 48px;
  padding: 0 15px;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .form__input:hover {
    background-color: var(--hover)
  }
}

.form__input:focus-visible {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.form__button {
  min-width: 140px;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .form__button:hover {
    background-color: var(--hover)
  }
}

.form__button:focus-visible {
  background-color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.form__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer {
  padding: 30px 0;
  background-color: #010101
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px 44px
}

.footer__link {
  color: var(--white);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: var(--hover)
  }
}

.footer__link:focus-visible {
  color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none
}

.popup.popup-active.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400
}

.popup__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .popup__text:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--blue);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .popup__button:hover {
    background-color: var(--hover)
  }
}

.popup__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  padding: 160px 0 0
}

@media (max-width:991px) {
  .terms {
    padding: 140px 0 0 0
  }
}

@media (max-width:600px) {
  .terms {
    padding: 120px 0 0 0
  }
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.no-found {
  padding: 250px 0 50px 0
}

@media (max-width:991px) {
  .no-found {
    padding: 150px 0 50px 0
  }
}

@media (max-width:600px) {
  .no-found {
    padding: 80px 0 50px 0
  }
}

.no-found__title {
  font-size: 60px;
  line-height: 1.3;
  color: var(--white);
  text-align: center;
  font-weight: 700
}

@media (max-width:991px) {
  .no-found__title {
    font-size: 40px
  }
}

@media (max-width:600px) {
  .no-found__title {
    font-size: 32px
  }
}

.no-found__title:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__text {
  font-size: 24px;
  line-height: 1.3;
  color: var(--white);
  text-align: center;
  font-weight: 400
}

@media (max-width:991px) {
  .no-found__text {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .no-found__text {
    font-size: 20px
  }
}

.no-found__text:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__link {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 400;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (max-width:991px) {
  .no-found__link {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .no-found__link {
    font-size: 16px
  }
}

@media (any-hover:hover) {
  .no-found__link:hover {
    color: var(--hover)
  }
}

.no-found__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.game {
  padding-top: 160px
}

.game:not(:last-child) {
  margin-bottom: 180px
}

@media (max-width:1220px) {
  .game:not(:last-child) {
    margin-bottom: 140px
  }
}

@media (max-width:991px) {
  .game:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:600px) {
  .game:not(:last-child) {
    margin-bottom: 60px
  }
}

@media (max-width:991px) {
  .game {
    padding-top: 140px
  }
}

@media (max-width:600px) {
  .game {
    padding-top: 120px
  }
}

.game__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

@media (max-width:991px) {
  .game__container {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

@media (max-width:600px) {
  .game__container {
    gap: 16px
  }
}

.game__images {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 751px;
  flex: 0 1 751px
}

@media (max-width:991px) {
  .game__images {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    max-width: 751px;
    margin: 0 auto
  }
}

.game__image {
  position: relative
}

.game__image_1 {
  padding-bottom: 57%;
  margin-bottom: 16px
}

.game__image_2 {
  padding-bottom: 58%
}

.game__image_3 {
  padding-bottom: 58%
}

.game__image picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}

.game__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.game__bottom-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .game__bottom-images {
    gap: 24px
  }
}

@media (max-width:600px) {
  .game__bottom-images {
    gap: 16px
  }
}

.game__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 530px;
  flex: 0 1 530px
}

@media (max-width:991px) {
  .game__content {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.game__title {
  color: var(--white)
}

.game__title:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .game__title:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .game__title:not(:last-child) {
    margin-bottom: 16px
  }
}

.game__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 32px
}

@media (max-width:991px) {
  .game__info {
    padding-left: 0
  }
}

.game__info:not(:last-child) {
  margin-bottom: 12px
}

.game__text {
  color: var(--white)
}

.game__text:not(:last-child) {
  margin-bottom: 16px
}

.game__text_2 {
  opacity: .5;
  line-height: 1
}

.game__text_2:not(:last-child) {
  margin-bottom: 0
}

.game__rat {
  color: #b5d4ff
}

.game__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px;
  padding-left: 32px
}

@media (max-width:991px) {
  .game__list {
    padding-left: 0
  }
}

.game__list:not(:last-child) {
  margin-bottom: 16px
}

.game__item {
  font-weight: 900;
  font-size: 20px;
  line-height: 140%;
  color: var(--white);
  opacity: .6;
  border: 1px solid #fff;
  padding: 1px 13px 2px 13px
}

@media (max-width:991px) {
  .game__item {
    font-size: 18px;
    padding: 1px 10px 2px 10px
  }
}

@media (max-width:600px) {
  .game__item {
    font-size: 16px
  }
}

.game__descr {
  padding-left: 32px
}

@media (max-width:991px) {
  .game__descr {
    padding-left: 0
  }
}