@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Quantico-Regular'),
    url("../../fonts/Quantico-Regular.woff2") format("woff2")
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton-Regular'),
    url("../../fonts/Anton-Regular.woff2") format("woff2")
}
