@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Saira-Bold'),
    url("../../fonts/Saira-Bold.woff2") format("woff2")
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Saira-Medium'),
    url("../../fonts/Saira-Medium.woff2") format("woff2")
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Saira-Regular'),
    url("../../fonts/Saira-Regular.woff2") format("woff2")
}
@font-face {
  font-family: 'Shanti-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Shanti-Regular'),
    url("../../fonts/Shanti-Regular.woff2") format("woff2")
} 