:root {
  // Шрифты
  --font-main: "MuktaMahee", sans-serif; // главный шрифт на странице
  --font-second: "PollerOne", sans-serif; // второй шрифт на странице

  // Контейнер
  --container-width: 1120px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #EAEAEA; // бекграунд страницы
  --blue: #014A8F;
  --gold: #AE9377;
  --white: #ffffff;
  --black: #000000;

  --hover: #0459A9; // цвет при ховере
  --active: #096CC9; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 120px;

    @media (max-width: 1220px) {
      margin-bottom: 100px;
    }

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-bottom: 60px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-1 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 52px;
  line-height: 120%;
  text-transform: uppercase;

  @media (max-width: 1220px) {
    font-size: 44px;
  }

  @media (max-width: 991px) {
    font-size: 36px;
  }

  @media (max-width: 600px) {
    font-size: 26px;
  }
}

.tt-2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 20px;
  }

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.tt-3 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.tt-4 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;

  @media (max-width: 1220px) {
    font-size: 34px;
  }

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.tt-5 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;

  @media (max-width: 991px) {
    font-size: 26px;
  }

  @media (max-width: 600px) {
    font-size: 22px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.tx-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  min-width: 98px;
  min-height: 54px;
  width: fit-content;
  border-radius: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}