:root {
  // Шрифты
  --font-main: "Mako", sans-serif; // главный шрифт на странице
  --second-main: "Anybody", sans-serif; // главный шрифт на странице

  // Контейнер
  --container-width: 1170px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #060601; // бекграунд страницы
  --background-menu: #060601;
  --white: #ffffff;
  --gold: #DBB958;
  --black: #000000;

  --hover: #af6a2a; // цвет при ховере
  --active: #C27329; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 120px;

    @media (max-width: 991px) {
      margin-bottom: 100px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-1 {
  font-size: 52px;
  font-family: var(--second-main);
  font-weight: 700;
  line-height: 120%;
  font-weight: 700;

  @media (max-width: 1220px) {
    font-size: 42px;
  }

  @media (max-width: 991px) {
    font-size: 34px;
  }

  @media (max-width: 600px) {
    font-size: 28px;
  }
}

.tt-2 {
  font-size: 40px;
  font-family: var(--second-main);
  font-weight: 700;
  line-height: 120%;

  @media (max-width: 1220px) {
    font-size: 36px;
  }

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.tt-3 {
  font-size: 24px;
  font-family: var(--second-main);
  font-weight: 700;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.tx-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  width: fit-content;
  min-width: 131px;
  min-height: 56px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 44px;
  background: linear-gradient(132deg, #DBB958 0%, #DB8536 100%);
}