@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2")
}

:root {
  --font-main: Arial;
  --container-width: 1100px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #0F0C0A;
  --white: #fff;
  --black: #000;
  --yellow: #FFCD01;
  --orange: #FFA901;
  --hover: #F4AF28;
  --active: #F1BC54
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 120px
}

@media (max-width:1220px) {
  main:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:991px) {
  main:not(:last-child) {
    margin-bottom: 80px
  }
}

@media (max-width:600px) {
  main:not(:last-child) {
    margin-bottom: 60px
  }
}

.tt-1 {
  font-weight: 900;
  font-size: 45px;
  line-height: 140%
}

@media (max-width:1440px) {
  .tt-1 {
    font-size: 38px
  }
}

@media (max-width:1220px) {
  .tt-1 {
    font-size: 30px
  }
}

@media (max-width:991px) {
  .tt-1 {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .tt-1 {
    font-size: 22px
  }
}

.tt-2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 116.666667%
}

@media (max-width:991px) {
  .tt-2 {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .tt-2 {
    font-size: 20px
  }
}

.tt-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 78px;
  min-height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #171615;
  border-radius: 23px;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  opacity: .5
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%
}

@media (max-width:600px) {
  .tx-1 {
    font-size: 14px
  }
}

.tx-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 126.49%
}

@media (max-width:600px) {
  .tx-2 {
    font-size: 16px
  }
}

.tx-3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 115%
}

@media (max-width:991px) {
  .tx-3 {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .tx-3 {
    font-size: 16px
  }
}

.but-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 162px;
  min-height: 53px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  background-color: var(--orange)
}

.header {
  padding: 20px 0
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 16px
}

.header__logo {
  display: block;
  width: 152px;
  height: 37px
}

.header__logo_2 {
  display: none
}

@media (max-width:991px) {
  .header__logo_2 {
    display: block;
    margin-bottom: 100px
  }
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    z-index: 100;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 15px
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__icon {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 40px
}

.header__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px 38px
}

@media (max-width:991px) {
  .nav__list {
    row-gap: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.nav__link {
  color: var(--white);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--white);
  border-radius: 8px
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.hero:not(:last-child) {
  margin-bottom: 120px
}

@media (max-width:1220px) {
  .hero:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:991px) {
  .hero:not(:last-child) {
    margin-bottom: 80px
  }
}

@media (max-width:600px) {
  .hero:not(:last-child) {
    margin-bottom: 60px
  }
}

.hero__content {
  min-height: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0
}

.hero__descr {
  max-width: 514px
}

.hero__title {
  color: var(--yellow)
}

.hero__title:not(:last-child) {
  margin-bottom: 8px
}

.hero__text {
  color: var(--white);
  opacity: .6
}

.hero__text:not(:last-child) {
  margin-bottom: 39px
}

@media (max-width:991px) {
  .hero__text:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .hero__text:not(:last-child) {
    margin-bottom: 16px
  }
}

.hero__link {
  color: var(--white);
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .hero__link:hover {
    background-color: var(--hover)
  }
}

.hero__link:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .hero {
  background-image: url(../img/hero.webp)
}

.no-webp .hero {
  background-image: url(../img/hero.jpg)
}

.games:not(:last-child) {
  margin-bottom: 120px
}

@media (max-width:1220px) {
  .games:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:991px) {
  .games:not(:last-child) {
    margin-bottom: 80px
  }
}

@media (max-width:600px) {
  .games:not(:last-child) {
    margin-bottom: 60px
  }
}

.games__title {
  color: var(--orange)
}

.games__title:not(:last-child) {
  margin-bottom: 16px
}

.games__subtitle {
  color: var(--white);
  opacity: .5
}

.games__subtitle:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .games__subtitle:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .games__subtitle:not(:last-child) {
    margin-bottom: 16px
  }
}

.games__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 24px 67px
}

@media (max-width:1440px) {
  .games__list {
    gap: 24px 32px
  }
}

@media (max-width:991px) {
  .games__list {
    gap: 24px
  }
}

@media (max-width:600px) {
  .games__list {
    gap: 16px
  }
}

.games__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 320px;
  flex: 0 1 320px
}

@media (max-width:360px) {
  .games__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.games__image {
  border-radius: 10px;
  overflow: hidden
}

.games__image a {
  display: block;
  width: 100%;
  height: 100%
}

.games__image a picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.games__image:not(:last-child) {
  margin-bottom: 16px
}

.games__link {
  min-width: 91px;
  min-height: 50px;
  color: var(--white);
  margin: 0 auto;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .games__link:hover {
    background-color: var(--hover)
  }
}

.games__link:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.about {
  padding: 56px 0;
  background-color: #171615
}

.about:not(:last-child) {
  margin-bottom: 120px
}

@media (max-width:1220px) {
  .about:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:991px) {
  .about:not(:last-child) {
    margin-bottom: 80px
  }
}

@media (max-width:600px) {
  .about:not(:last-child) {
    margin-bottom: 60px
  }
}

@media (max-width:991px) {
  .about {
    padding: 45px 0
  }
}

@media (max-width:600px) {
  .about {
    padding: 35px 0
  }
}

.about__title {
  color: var(--orange)
}

.about__title:not(:last-child) {
  margin-bottom: 16px
}

.about__subtitle {
  color: var(--white);
  opacity: .5;
  background-color: #0f0c0a
}

.about__subtitle:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .about__subtitle:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .about__subtitle:not(:last-child) {
    margin-bottom: 16px
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

@media (max-width:991px) {
  .about__container {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

@media (max-width:600px) {
  .about__container {
    gap: 16px
  }
}

.about__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 640px;
  flex: 0 1 640px
}

@media (max-width:991px) {
  .about__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.about__text {
  color: var(--white)
}

.about__text:not(:last-child) {
  margin-bottom: 16px
}

.about__image {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 448px;
  flex: 0 1 448px;
  height: 472px
}

@media (max-width:991px) {
  .about__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    max-width: 328px;
    height: 346px;
    margin: 0 auto
  }
}

.about__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.benefits:not(:last-child) {
  margin-bottom: 120px
}

@media (max-width:1220px) {
  .benefits:not(:last-child) {
    margin-bottom: 100px
  }
}

@media (max-width:991px) {
  .benefits:not(:last-child) {
    margin-bottom: 80px
  }
}

@media (max-width:600px) {
  .benefits:not(:last-child) {
    margin-bottom: 60px
  }
}

.benefits__title {
  color: var(--orange)
}

.benefits__title:not(:last-child) {
  margin-bottom: 16px
}

.benefits__subtitle {
  color: var(--white);
  opacity: .5
}

.benefits__subtitle:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .benefits__subtitle:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .benefits__subtitle:not(:last-child) {
    margin-bottom: 16px
  }
}

.benefits__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

@media (max-width:991px) {
  .benefits__content {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

@media (max-width:600px) {
  .benefits__content {
    gap: 16px
  }
}

.benefits__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 16px 32px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 536px;
  flex: 0 1 536px
}

@media (max-width:991px) {
  .benefits__list {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    gap: 24px
  }
}

@media (max-width:600px) {
  .benefits__list {
    gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7px
}

.benefits__icon {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 40px
}

@media (max-width:991px) {
  .benefits__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 36px;
    flex: 0 0 36px;
    height: 36px
  }
}

@media (max-width:600px) {
  .benefits__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32px;
    flex: 0 0 32px;
    height: 32px
  }
}

.benefits__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.benefits__text {
  color: var(--white)
}

.benefits__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 544px;
  flex: 0 1 544px
}

@media (max-width:991px) {
  .benefits__right {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.footer {
  padding-bottom: 55px
}

@media (max-width:991px) {
  .footer {
    padding-bottom: 45px
  }
}

@media (max-width:600px) {
  .footer {
    padding-bottom: 35px
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 32px
}

@media (max-width:991px) {
  .footer__top {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

@media (max-width:600px) {
  .footer__top {
    gap: 16px
  }
}

.footer__top:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .footer__top:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .footer__top:not(:last-child) {
    margin-bottom: 16px
  }
}

.footer__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 736px;
  flex: 0 1 736px;
  color: var(--white)
}

@media (max-width:991px) {
  .footer__text {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.footer__logo {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 152px;
  height: 37px
}

.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px 64px
}

@media (max-width:1440px) {
  .footer__list {
    gap: 16px 32px
  }
}

@media (max-width:991px) {
  .footer__list {
    gap: 16px 24px
  }
}

@media (max-width:600px) {
  .footer__list {
    gap: 16px
  }
}

.footer__link {
  color: var(--white);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: var(--hover)
  }
}

.footer__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.game {
  padding: 80px 0 0 0
}

@media (max-width:991px) {
  .game {
    padding: 60px 0 0 0
  }
}

@media (max-width:600px) {
  .game {
    padding: 40px 0 0 0
  }
}

.game__title {
  font-size: 42px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 700
}

@media (max-width:991px) {
  .game__title {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .game__title {
    font-size: 22px
  }
}

.game__title:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .game__title:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .game__title:not(:last-child) {
    margin-bottom: 15px
  }
}

.game__game {
  position: relative;
  padding-bottom: 50%
}

@media (max-width:991px) {
  .game__game {
    padding-bottom: 75%
  }
}

@media (max-width:600px) {
  .game__game {
    padding-bottom: 95%
  }
}

.game__game iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}

.terms {
  padding: 80px 0 0 0
}

@media (max-width:991px) {
  .terms {
    padding: 60px 0 0 0
  }
}

@media (max-width:600px) {
  .terms {
    padding: 40px 0 0 0
  }
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.no-found {
  padding: 250px 0 50px 0
}

@media (max-width:991px) {
  .no-found {
    padding: 150px 0 50px 0
  }
}

@media (max-width:600px) {
  .no-found {
    padding: 80px 0 50px 0
  }
}

.no-found__title {
  font-size: 60px;
  line-height: 1.3;
  color: var(--white);
  text-align: center;
  font-weight: 700
}

@media (max-width:991px) {
  .no-found__title {
    font-size: 40px
  }
}

@media (max-width:600px) {
  .no-found__title {
    font-size: 32px
  }
}

.no-found__title:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__text {
  font-size: 24px;
  line-height: 1.3;
  color: var(--white);
  text-align: center;
  font-weight: 400
}

@media (max-width:991px) {
  .no-found__text {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .no-found__text {
    font-size: 20px
  }
}

.no-found__text:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__link {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 400;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (max-width:991px) {
  .no-found__link {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .no-found__link {
    font-size: 16px
  }
}

@media (any-hover:hover) {
  .no-found__link:hover {
    color: var(--hover)
  }
}

.no-found__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none
}

.popup.popup-active.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400
}

.popup__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .popup__text:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--orange);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .popup__button:hover {
    background-color: var(--hover)
  }
}

.popup__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}