@mixin marginBlock {
  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 600px) {
      margin-bottom: 60px;
    }
  }
}

.header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: linear-gradient(180deg, #040C28 0%, rgba(4, 4, 45, 0) 100%);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #373737;
      z-index: 100;
      padding: 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 15px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--white);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: var(--white);
      transform: rotate(-45deg);
    }
  }

  &__logo {
    display: block;
    flex-shrink: 0;
    width: 103px;
    height: 39px;

    &_menu {
      display: none;
      margin-bottom: 100px;

      @media (max-width: 991px) {
        display: block;
      }

      @media (max-width: 600px) {}
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 48px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__icon {
    display: block;
    flex-shrink: 0;
    width: 47px;
    height: 47px;

    @media (max-width: 991px) {
      width: 42px;
      height: 42px;
    }

    @media (max-width: 600px) {
      width: 36px;
      height: 36px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
    }

    @media (max-width: 600px) {}
  }

  &__item {}

  &__link {
    color: var(--white);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    border-radius: 8px;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================
.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include marginBlock();

  &__content {
    display: flex;
    align-items: center;
    padding: 100px 0;
    min-height: 648px;

    @media (max-width: 991px) {
      min-height: 550px;
      padding: 100px 0 80px 0;
    }

    @media (max-width: 600px) {
      min-height: 450px;
      padding: 100px 0 60px 0;
    }
  }

  &__descr {
    max-width: 644px;
  }

  &__title {
    text-transform: uppercase;
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__text {
    color: var(--white);
    opacity: .7;
    max-width: 544px;

    &:not(:last-child) {
      margin-bottom: 46px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__item {
    flex-shrink: 0;

    @media (max-width: 991px) {
      flex-shrink: 1;
    }

    @media (max-width: 600px) {}
  }

  &__link {
    color: var(--white);
    transition: background-color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}

.webp .hero {
  background-image: url(../../img/hero.webp);
}

.no-webp .hero {
  background-image: url(../../img/hero.jpg);
}

// ======================================================================================================================================================
.about {
  @include marginBlock();

  &__title {
    color: var(--blue);

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      grid-template-columns: 1fr;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__item {}

  &__text {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

// ======================================================================================================================================================
.benefits {
  @include marginBlock();

  &__container {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      grid-template-columns: 1fr;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__left {}

  &__title {
    color: var(--blue);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    color: var(--white);
    opacity: .7;
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 16px 32px;

    @media (max-width: 991px) {
      gap: 16px 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: 16px;
    background: rgba(37, 162, 233, 0.31);
    border-radius: 5px;
    min-height: 120px;
  }

  &__icon {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__subtitle {
    text-align: center;
    color: var(--white);
  }
}

// ======================================================================================================================================================
.games {
  @include marginBlock();

  &__title {
    color: var(--blue);

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__item {
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    flex: 0 0 348px;
    min-height: 242px;

    @media (max-width: 380px) {
      flex: 0 1 100%;
    }

  }

  &__descr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    min-height: 106px;
    padding: 24px 16px 16px 16px;
    background: linear-gradient(180deg, rgba(26, 23, 23, 0) 0%, #1D1B1B 100%);
  }

  &__link {
    color: var(--white);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }

  &__play {
    color: var(--white);

    @media (any-hover: hover) {
      &:hover {
        background: var(--hover);
      }
    }

    &:active {
      background: var(--active);
      transition-duration: .1s;
    }
  }
}

.webp {
  & .games__item_1 {
    background-image: url(../../img/game-1.webp);
  }

  & .games__item_2 {
    background-image: url(../../img/game-2.webp);
  }

  & .games__item_3 {
    background-image: url(../../img/game-3.webp);
  }
}

.no-webp {
  & .games__item_1 {
    background-image: url(../../img/game-1.jpg);
  }

  & .games__item_2 {
    background-image: url(../../img/game-2.png);
  }

  & .games__item_3 {
    background-image: url(../../img/game-3.png);
  }
}

// ======================================================================================================================================================
.footer {
  padding: 80px 0;
  background-color: #011422;

  @media (max-width: 991px) {
    padding: 60px 0;
  }

  @media (max-width: 600px) {
    padding: 40px 0;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__left {
    flex: 0 1 544px;

    @media (max-width: 991px) {
      flex: 0 1 100%;
    }

    @media (max-width: 600px) {}
  }

  &__text {
    color: var(--white);

    & span {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__logo {
    display: block;
    width: 103px;
    height: 39px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__list {
    margin-left: auto;
    text-align: right;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__link {
    color: var(--white);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.game {
  padding: 160px 0 0 0;

  @media (max-width: 991px) {
    padding: 140px 0 0 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 0 0;
  }

  &__title {
    font-size: 42px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__game {
    position: relative;
    padding-bottom: 50%;

    @media (max-width: 991px) {
      padding-bottom: 75%;
    }

    @media (max-width: 600px) {
      padding-bottom: 95%;
    }

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}

// ======================================================================================================================================================

.terms {
  padding: 160px 0 0 0;

  @media (max-width: 991px) {
    padding: 140px 0 0 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 0 0;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================

.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 150px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 80px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: var(--white);
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: var(--white);
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--blue);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}