@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik-Regular'),
    url("../../fonts/Rubik-Regular.woff2") format("woff2")
}
@font-face {
  font-family: 'DelaGothicOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('DelaGothicOne-Regular'),
    url("../../fonts/DelaGothicOne-Regular.woff2") format("woff2")
}
