@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Prata-Regular'),
    url("../../fonts/Prata-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'PlayfairDisplaySC';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('PlayfairDisplaySC-Black'),
    url("../../fonts/PlayfairDisplaySC-Black.woff2") format("woff2")
}