@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Playball-Regular'),
    url("../../fonts/Playball-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Prata-Regular'),
    url("../../fonts/Prata-Regular.woff2") format("woff2")
}