@font-face {
  font-family: 'SongMyung';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('SongMyung-Regular'),
    url("../../fonts/SongMyung-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'VastShadow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('VastShadow-Regular'),
    url("../../fonts/VastShadow-Regular.woff2") format("woff2")
}