@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik-Regular'),
    url("../../fonts/Rubik-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Sumana';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Sumana-Bold'),
    url("../../fonts/Sumana-Bold.woff2") format("woff2")
}