@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Play-Regular'),
    url("../../fonts/Play-Regular.woff2") format("woff2")
}
@font-face {
  font-family: 'StalinistOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('StalinistOne-Regular'),
    url("../../fonts/StalinistOne-Regular.woff2") format("woff2")
}