:root {
  // Шрифты
  --font-main: "Play", sans-serif; // главный шрифт на странице
  --second-main: "StalinistOne", sans-serif; // главный шрифт на странице

  // Контейнер
  --container-width: 1215px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #F9F8FF; // бекграунд страницы
  --background-menu: #F9F8FF;
  --white: #ffffff;
  --black: #000000;
  --purple-o: rgba(86, 57, 140, .8);
  --purple: #684B9F;
  --purple-l: rgba(116, 61, 221, .8);

  --hover: rgba(151, 71, 255, .8); // цвет при ховере
  --active: rgba(96, 26, 187, .8); // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 120px;

    @media (max-width: 600px) {
      margin-bottom: 100px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-1 {
  font-family: var(--second-main);
  font-weight: 400;
  font-size: 52px;
  line-height: 120%;

  @media (max-width: 1440px) {
    font-size: 46px;
  }

  @media (max-width: 1220px) {
    font-size: 40px;
  }

  @media (max-width: 991px) {
    font-size: 32px;
  }

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.tt-2 {
  font-family: var(--second-main);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;

  @media (max-width: 1440px) {
    font-size: 36px;
  }

  @media (max-width: 1220px) {
    font-size: 32px;
  }

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.tt-3 {
  font-family: var(--second-main);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.tt-4 {
  font-family: var(--second-main);
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;

  @media (max-width: 991px) {
    font-size: 24px;
  }

  @media (max-width: 600px) {
    font-size: 22px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid #684B9F;
  border-radius: 50%;

  & svg {
    display: block;
    width: 26px;
    height: 16px;
    object-fit: contain;
    object-position: center;
    fill: #684B9F;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid #F9F8FF;
  border-radius: 26px;
  padding: 3px 10px;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}