@font-face {
  font-family: 'ReemKufiFun';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('ReemKufiFun-Medium'),
    url("../../fonts/ReemKufiFun-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'ReemKufiFun';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ReemKufiFun-Regular'),
    url("../../fonts/ReemKufiFun-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'RedRose';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('RedRose-Bold'),
    url("../../fonts/RedRose-Bold.woff2") format("woff2")
}